/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "theme/theme-variables";
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
}

$stripes-contrast: mat-color($app-primary, 700, 700);
$stripes-high-contrast: mat-color($app-primary, 900, 900);

mat-toolbar-row.stripped {
    color: mat-color($app-grey-pallete, 100, 100);

    background: $stripes-contrast; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $stripes-contrast, $stripes-high-contrast);
    background: linear-gradient(to right, $stripes-contrast, $stripes-high-contrast);
}
